.menu-effect {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 110;
  overflow: hidden;
  margin: calc(5vh - 7px) var(--margin-side-desktop) 0 0;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 13px;
  animation-delay: 350ms;
}

.menu-effect li {
  display: inline-block;
  margin: 0.5em 1.5em;
  padding: 0;
}

.menu-effect li:last-child {
  margin-right: 0;
}

.menu-effect a {
  position: relative;
  display: inline-block;
  padding: 0.1em 0;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.menu-effect a:hover,
.menu-effect .active a {
  color: var(--third-color);
  transition: color 0.3s;
  position: relative;
}

.menu-effect a:after {
  position: absolute;
  content: '';
  margin: 0;
  width: 97%;
  height: 2px;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--third-color), var(--third-color)) transparent no-repeat 0 0;
  background-size: 0 100%;
}

.menu-effect .active a:after {
  animation: loading 0.2s linear 1 forwards;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .menu-effect a:hover,
  .menu-effect .active a {
    font-weight: 900;
  }
}

@-moz-document url-prefix() {
  .menu-effect a:hover,
  .menu-effect .active a {
    font-weight: 400;
  }
}

.menu-effect a:hover {
  color: var(--third-color) !important;
}

@media only screen and (max-width: 1024px) {
  .menu-effect {
    display: none;
  }
}