.modal-chatbot.box:nth-child(2) {
  width: 50vw;
}

.chatbot-top-right {
  position: absolute;
  bottom: 45%;
  right: var(--margin-side-desktop);
}

@media only screen and (max-width: 1366px) {
  .chatbot-top-right {
    position: relative;
    bottom: initial;
    right: initial;
  }
}