:root {
  color: var(--white-color);

  --image-background: #CDD2E0;
  --bottom-modal: 10%;
}

#container1 {
  position: absolute;
  width: 100vh;
  height: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color: #999;
}

#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
  font-size: 0;
}

.modal {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--second-color-dark);
}

.modal-div {
  z-index: 110;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.modal-main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--second-color-dark);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close {
  z-index: 101;
  position: absolute;
  width: 32px;
  height: 32px;
  left: var(--global-margin-side);
  top: 0;
  margin-top: 31px;
  opacity: 1;
  color: var(--white-color);
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  height: 33px;
  width: 2px;
  left: 15px;
  content: ' ';
  background-color: var(--white-color);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.box {
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.box > section {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

section.page-one {
  background-color: var(--second-color-dark);
}

section.full-page {
  width: 100vw;
}

section.half-page {
  width: 50vw;
}

.main-info {
  position: absolute;
  left: var(--global-margin-side);
  bottom: var(--bottom-modal);
  /* transform: translateY(-50%); */
}

.page-one .main-info h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1.2;
}

.arrow {
  position: absolute;
  bottom: 15px;
  width: 60px;
  right: var(--global-margin-side);
  transform: inherit !important;
}

.page-one .main-info h2 {
  margin: 0;
  margin-bottom: 45px;
  font-family: var(--font-poppins-light);
  font-size: 28px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: 0.9;
}

.main-info section {
  margin-bottom: 25px;
}

.main-info section:last-child {
  margin-bottom: 0;
}

img.flat {
  position: absolute;
  max-height: 70vh;
  max-width: 40vw;
  height: auto;
  width: auto;
  /* top: 50%; */
  right: calc(var(--global-margin-side) + 50px);
  bottom: var(--bottom-modal);
  transform: inherit !important;
  /* right: var(--global-margin-side); */
  /* transform: translateY(-50%) !important; */
  /* width: 600px;
  top: 300px;
  transform: translate(0, -50%) !important; */
}

.container-categories {
  display: flex;
}

.line-categories {
  position: relative;
  top: 8px;
  margin-right: 17px;
}

.categories,
.context {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2;
  font-family: var(--font-poppins-extra-bold);
}

.details {
  margin-left: calc(var(--line-width) + 17px);
  font-size: 12px;
  font-family: var(--font-poppins-light);
  letter-spacing: 0.5;
}

.bottom-right {
  position: absolute;
  bottom: var(--bottom-modal);
  right: calc(var(--global-margin-side));
}

section.page-two {
  background-color: var(--second-color-dark);
}