:root {
  color: var(--white-color);

  --image-background: #CDD2E0;
  --bottom-modal: 8%;
  --side-modal-mobile: 10vw;
}

#container1 {
  position: absolute;
  width: 100vh;
  height: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
}

#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
  font-size: 0;
}

.modal {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: var(--second-color-dark);
}

.modal-main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--second-color-dark);
}

.modal.display-block {
  display: block;
  /* animation-name: zooming;
  animation-duration: 0.4s;
  transform-origin: translate(50%, 50%);
  transform: scale(1); */
}

@keyframes zooming {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.9;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.modal.display-none {
  display: none;
}

.close {
  z-index: 101;
  position: absolute;
  width: 32px;
  height: 32px;
  left: var(--margin-side-desktop);
  top: 0;
  margin-top: 31px;
  opacity: 1;
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  height: 33px;
  width: 2px;
  left: 15px;
  content: ' ';
  background-color: var(--white-color);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.box {
  display: inline-block;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.box > section {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

section.page-one {
  background-color: var(--second-color-dark);
}

section.full-page {
  width: 100vw;
}

section.half-page {
  width: 50vw;
}

.main-info {
  position: absolute;
  left: var(--margin-side-desktop);
  bottom: var(--bottom-modal);
}

.main-info h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 1.2;
}

.arrow {
  position: absolute;
  bottom: calc(var(--bottom-modal) - 20px);
  width: 60px;
  right: var(--margin-side-desktop);
  transform: inherit !important;
}

.main-info h2 {
  margin: 0;
  margin-bottom: 45px;
  font-family: var(--font-poppins-light);
  font-size: 28px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: 0.9;
}

.main-info .map-categories {
  margin-bottom: 25px;
}

.main-info .map-categories:last-child {
  margin-bottom: 0;
}

.main-info section:last-child {
  margin-bottom: 0;
}

section.page-one img {
  height: 95vh;
  width: auto;
  right: calc(var(--margin-side-desktop) - 50px);
  bottom: -30px;
  transform: inherit !important;
}

.container-categories {
  display: flex;
}

.line-categories {
  position: relative;
  top: 8px;
  margin-right: 17px;
}

.categories,
.context {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2;
  font-family: var(--font-poppins-extra-bold);
}

.details {
  margin-left: calc(var(--line-width) + 17px);
  font-size: 12px;
  font-family: var(--font-poppins-light);
  letter-spacing: 0.5;
}

.bottom-right {
  position: absolute;
  bottom: var(--bottom-modal);
  right: calc(var(--margin-side-desktop));
}

section.page-two {
  background-color: var(--second-color-dark);
}

@media only screen and (max-width: 1024px) {
  .box {
    height: auto;
  }

  .box > section {
    height: auto;
  }

  .modal {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: var(--second-color-dark);
  }

  .modal-main {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--second-color-dark);
  }

  .close {
    left: initial;
    right: 8vw;
    margin-top: 5vw;
  }

  .close:before,
  .close:after {
    height: 45px;
  }

  .main-info {
    position: initial;
    display: flex;
    flex-direction: column;
  }

  .main-info img {
    position: relative !important;
    width: 120vw;
    left: -12%;
    margin: 70px 0;
    transform: none !important;
  }

  .main-info .page-one-mobile {
    position: relative;
    height: 100vh;
    left: initial;
    bottom: initial;
    margin: 0;
  }

  .main-info .page-one-mobile .modal-titles {
    position: absolute;
    width: var(--paragraph-width-mobile);
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 8vh;
  }

  .main-info h1 {
    margin-bottom: 40px;
    font-size: 35px;
  }

  .main-info h2 {
    margin-bottom: 0;
    font-size: 21px;
  }

  .page-two-mobile {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
  }

  .bottom-right {
    position: relative;
    bottom: initial;
    right: initial;
  }
}

@media only screen and (max-width: 767px) {
  .main-info .page-one-mobile {
    grid-template-rows: 60% 40%;
    height: 100vh;
  }

  .main-info .page-one-mobile img {
    grid-row: 1;
    position: relative !important;
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 130%;
    left: -13%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 40px;
    transform: none !important;
  }

  .main-info .page-one-mobile .modal-titles {
    grid-row: 2;
    width: var(--paragraph-width-mobile);
    margin: auto auto;
  }

  .close {
    margin-top: 31px;
    right: var(--side-modal-mobile);
  }

  .close:before,
  .close:after {
    height: 33px;
  }
}