.modal {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--second-color-dark);
}

.modal-main {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--second-color-dark);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}