.row {
  position: absolute;
  width: 610px;
  bottom: 7%;
  right: calc(var(--percentage-border-right));
}

.column {
  float: left;
  font-size: 14px;
}

.column.title {
  position: absolute;
  min-width: 200px;
  padding: 0;
}

.context {
  position: absolute;
  display: inline-block;
  right: calc(var(--line-width) + 25px);
}

.line-context {
  position: absolute;
  right: 10px;
  width: var(--line-width);
  height: 1px;
  margin-top: 8px;
  background: var(--white-color);
}

.column.text {
  width: var(--flat-image-width);
  float: right;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font-poppins-light);
  white-space: pre-wrap;
  text-align: justify;
}

.column.text p {
  margin: 0;
}