.full-page {
  height: 100vh;
  width: 100vw;
}

/* TODO: Create CSS module */
article.about-me {
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 70%;
  }
}
