/* .full-page {
  height: 100vh;
  width: 100vw;
} */

/* TODO: Create CSS module */

section.about-me {
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-img {
    width: 70%;
  }

  h1 {
    margin: 0;
  }

  article {
    display: flex;
    align-items: center;
  }

  .content {
    padding-top: calc(10vh); /* TODO: Fix menu size */
    padding-left: var(--margin-side-desktop);
    padding-right: var(--margin-side-desktop);
    margin-bottom: 100px;
  }

  .text p {
    line-height: 1.8;
  }

  .text p:first-of-type {
    margin-top: 22px;
  }

  .text p:last-of-type {
    margin-top: 18px;
  }

  h1.bottom {
    margin-top: 18px;
  }

  .text p span {
    font-family: var(--font-poppins-bold);
  }

  h1 span {
    color: var(--third-color);
  }

  h1.bottom {
    text-align: right;
  }

  h3::before {
    /* TODO: fix @/assets/ for CSS files - content: url("@/assets/eye.png"); */
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-image: url("../../assets/eye.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin-top: 18px;
  }

  a {
    text-decoration: none;
  }

  a.card {
    display: flex;
    align-items: center;
    width: 45%;
    background-color: var(--fourth-color);
    transition: transform 0.3s ease;
  }

  a.card:hover {
    transform: scale(1.1);
  }

  .card img {
    height: 100%;
  }

  .card p {
    margin: 20px;
  }

  /* TODO: Move to index.css */
  .tablet,
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  section.about-me {
    display: flex;
    flex-direction: column-reverse;

    .right-panel {
      height: auto;
      min-height: auto;
      float: unset;
      width: auto;
    }

    .content {
      padding: 0 var(--margin-side-tablet);
    }

    .text p:first-of-type {
      margin-top: 12px;
    }

    .text p:last-of-type {
      margin-top: 8px;
    }

    h1.bottom {
      margin-top: 8px;
    }

    h3 {
      margin-top: 4px;
    }

    .cards-container {
      height: 124px;
      margin-top: 10px;
    }

    a.card {
      justify-content: center;
    }

    .card p {
      margin: 10px;
      align-content: center;
      flex: 1;
      text-align: center;
    }

    .left-panel {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: auto;
      float: unset;
      width: 100%;
      background-color: unset;
    }

    .left-panel::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: var(--second-color-dark);
      z-index: -1;
    }

    .left-panel::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: var(--first-color-light);
      z-index: -1;
    }

    .profile-img {
      width: 40%;
    }

    /* TODO: Move to index.css */
    .desktop,
    .mobile {
      display: none;
    }

    .tablet {
      display: block;
    }
  }
}

@media only screen and (max-width: 767px) {
  section.about-me {
    .content {
      padding: 0 var(--margin-side-mobile);
    }

    .text p:first-of-type {
      margin-top: 28px;
    }

    h3 {
      margin-top: 36px;
    }

    .cards-container {
      height: auto;
      flex-direction: column;
      margin-top: 22px;
    }

    a.card {
      width: 100%;
      height: 110px;
      justify-content: normal;
    }

    a.card:hover {
      transform: none;
    }

    a.card:last-of-type {
      margin-top: 28px;
    }

    .img-container {
      padding: 0 var(--margin-side-mobile);
      width: calc(100% - 2 * var(--margin-side-mobile));
    }

    .profile-img {
      width: 100%;
    }

    /* TODO: Move to index.css */
    .tablet,
    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
}
