section.about-me {
  height: 100vh;
  width: 100vw;
}

section.about-me .left {
  height: 100vh;
  float: left;
  width: var(--width-left-column);
  background-color: var(--first-color-light);
}

section.about-me .left .img-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section.about-me .left img {
  max-width: 55%;
  height: auto;
  margin-left: 22.5%;
  transform: scale(1.2);
}

section.about-me .right {
  position: relative;
  height: 100vh;
  float: right;
  width: var(--width-right-colum);
  background-color: var(--second-color-dark);
}

section.about-me .right article {
  margin-left: 140px;
  margin-top: 17vh;
}

section.about-me article header {
  margin: 0;
  font-size: 40px;
  color: var(--first-color-light);
}

section.about-me .right article section {
  display: block;
  width: 470px;
  margin: 40px 0;
  font-size: 14px;
  line-height: 25px;
  font-family: var(--font-poppins-light);
  color: var(--first-color-light);
}

p.about-me-mobile {
  display: none;
}

section.about-me .right article section p {
  margin: 0;
  letter-spacing: 0.3;
}

section.about-me .right article footer span {
  color: var(--third-color);
}

section.about-me .right article section p span {
  font-family: var(--font-poppins-bold);
}

footer {
  position: absolute;
  right: 9%;
  bottom: 30px;
  font-size: 40px;
  color: var(--first-color-light);
}

@media only screen and (max-width: 1024px) {
  section.about-me {
    margin-top: -1px;
  }

  section.about-me,
  section.about-me .left,
  section.about-me .right {
    background-color: var(--second-color-dark);
  }

  section.about-me .left {
    position: relative;
    width: 100vw !important;
  }

  section.about-me .right {
    position: absolute;
    display: contents;
  }

  section.about-me article {
    position: relative;
    margin: 0 !important;
  }

  section.about-me article header {
    position: absolute;
    left: var(--margin-side-tablet);
    top: 10vh;
  }

  section.about-me article section {
    position: absolute;
    left: var(--margin-side-tablet);
    top: 21vh;
    width: auto !important;
    margin: 0 !important;
  }

  section.about-me article section p {
    display: block;
    width: calc(100vw - 4 * var(--margin-side-tablet));
    font-size: 15px;
  }

  section.about-me article section p.about-me-mobile {
    display: none;
  }

  section.about-me .bottom .img-container {
    position: absolute;
    top: 100vh;
    left: 43%;
  }

  section.about-me .bottom img {
    max-width: 100% !important;
    margin-left: 0 !important;
  }

  section.about-me .right article footer {
    top: 50vh;
    right: var(--margin-side-tablet);
    bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  section.about-me article header {
    top: 5vh !important;
    left: var(--margin-side-mobile);
  }

  section.about-me article section {
    margin: 0 !important;
    left: var(--margin-side-mobile) !important;
  }

  section.about-me article section p {
    display: none;
  }

  section.about-me article section p.about-me-mobile {
    display: block;
    width: calc(100vw - 2 * var(--margin-side-mobile) - 20px) !important;
    font-size: 14px;
  }

  section.about-me .right article footer {
    display: none;
  }
}