:root {
  --paragraph-width-desktop: 500px;
  --paragraph-width-mobile: 80vw;
  --space-between-mobile-paragraph: 70px;
}

article.paragraph {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-poppins-extra-bold);
}

.line-context {
  width: var(--line-width);
  height: 1px;
  right: 10px;
  margin: 10px 0 20px 0;
  background: var(--white-color);
}

article.paragraph p {
  width: var(--paragraph-width-desktop);
  float: right;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: var(--font-poppins-light);
  white-space: pre-wrap;
  text-align: justify;
  letter-spacing: 1px;
}

article.paragraph p span {
  font-family: var(--font-poppins-bold);
}

article.paragraph p a {
  text-decoration: underline;
  color: unset;
}

@media screen and (max-width: 1024px) {
  article.paragraph {
    width: var(--paragraph-width-mobile) !important;
    margin-top: var(--space-between-mobile-paragraph);
  }

  .bottom-right {
    width: var(--paragraph-width-mobile) !important;
    margin-bottom: calc(var(--space-between-mobile-paragraph) - 20px);
  }

  article.paragraph p {
    width: var(--paragraph-width-mobile) !important;
  }
}
