.modal-games.box:nth-child(2) {
  width: 100vw;
}

.games-top-left {
  position: absolute;
  bottom: 43%;
  left: var(--margin-side-desktop);
}

.games-bottom-left {
  position: absolute;
  bottom: var(--bottom-modal);
  left: var(--margin-side-desktop);
}

.games-top-right {
  position: absolute;
  bottom: 43%;
  right: var(--margin-side-desktop);
}

.games-bottom-right {
  position: absolute;
  bottom: var(--bottom-modal);
  right: var(--margin-side-desktop);
}

.play-game {
  position: absolute;
  display: flex;
  right: 0;
  text-decoration: none;
}

.play-game p {
  position: relative;
  margin: 0;
  font-size: 12px;
  font-weight: 900;
  color: var(--third-color);
  text-transform: uppercase;
  letter-spacing: 1.7;
  text-decoration: none;
  font-family: var(--font-poppins-extra-bold);
}

.play-game img {
  position: relative !important;
  height: 16px;
  margin: 8px 0 0 25px;
}