.titles-list h1 {
  overflow-y: hidden;
  width: 200px;
  float: left;
  margin: 0;
  font-size: 33px;
  line-height: 1.1;
  cursor: pointer;
}

.titles-list h1.active {
  color: var(--third-color);
}

section.titles-list .project-index {
  position: absolute;
  width: 20px;
  top: calc(50% + 2px);
  right: 0;
  transform: translate(-50%, -50%);
  font-family: var(--font-poppins-light);
  font-size: 14px;
  text-align: left;
}

.line-titles {
  position: relative;
  display: block;
  left: calc(200px + 6vw);
  top: -35px;
  width: calc(6vw) !important;
  background: linear-gradient(var(--first-color-light), var(--first-color-light)) transparent no-repeat 0 0 !important;
  background-size: 0 100% !important;
}

@media screen and (max-width: 1254px) {
  .line-titles {
    display: none;
  }
}

.line-titles.active {
  animation: loading 0.2s linear 1 forwards;
}

.line-titles.games {
  top: -18px;
}

@media only screen and (max-width: 1024px) {
  .titles {
    left: calc(30% - 90px);
  }

  .titles-list h1 {
    font-size: 30px;
  }

  section.portfolio .right {
    zoom: 0.8;
  }
}