.titles-list h1 {
  overflow-y: hidden;
  width: 200px;
  float: left;
  margin: 0;
  font-size: 33px;
  line-height: 1.1;
  cursor: pointer;
}

.titles-list h1.active {
  color: var(--third-color);
}

.project-index {
  position: absolute;
  width: 20px;
  top: calc(50% + 2px);
  right: 0;
  transform: translate(-50%, -50%);
  font-family: var(--font-poppins-light);
  font-size: 14px;
  text-align: left;
}

.line-titles {
  position: relative;
  display: block;
  left: 115%;
  top: -35px;
  width: 5.5vw;
  background: linear-gradient(var(--first-color-light), var(--first-color-light)) var(--second-color-dark) no-repeat 0 0 !important;
  background-size: 0 100% !important;
}

.line-titles.active {
  animation: loading 0.2s linear 1 forwards;
}

.line-titles.games {
  top: -18px;
}