.portfolio {
  .gl-left-panel {
    background-color: var(--second-color-dark);
  }

  .projects-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
  }

  .gl-right-panel {
    background-color: var(--second-color-dark);

    .tile {
      position: absolute;
      top: calc(
        50% + 20px
      ); /* TODO: center content on the page and deducting menu page - same on about page */
      transform: translateY(-50%);
      height: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: contain;
      background-color: var(--white-color);
      width: 50%; /* TODO: Export images with same size */
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .tile:nth-child(1) {
      left: var(--carousel-slide-width-desktop);
      z-index: 10;
      cursor: pointer;
    }

    /* Make a filter on the background images so they don't pop as much */
    .tile:nth-child(2)::after,
    .tile:nth-child(3)::after,
    .tile:nth-child(4)::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .tile:nth-child(2) {
      z-index: 9;
      left: calc(var(--carousel-slide-width-desktop) + 45px);
      height: calc(75% - 45px);
      background-color: #d1d5d8;
      pointer-events: none;
    }

    .tile:nth-child(2)::after {
      background-color: rgba(209, 213, 216, 0.5);
    }

    .tile:nth-child(3) {
      z-index: 8;
      left: calc(var(--carousel-slide-width-desktop) + 90px);
      height: calc(75% - 90px);
      background-color: #a4aab1;
      pointer-events: none;
    }

    .tile:nth-child(3)::after {
      background-color: rgba(164, 170, 177, 0.5);
    }

    .tile:nth-child(4) {
      z-index: 7;
      left: calc(var(--carousel-slide-width-desktop) + 135px);
      height: calc(75% - 135px);
      background-color: #76808a;
      pointer-events: none;
    }

    .tile:nth-child(4)::after {
      background-color: rgba(118, 128, 138, 0.5);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .portfolio {
    .carousel-wrapper {
      width: 100%;
      background-color: var(--second-color-dark);
      padding-top: 20px;
      padding-bottom: 150px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .portfolio {
    .carousel-wrapper {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }
}
