:root {
  --project-left: 60%;
}

section.portfolio {
  height: 100vh;
  width: 100vw;
  color: var(--first-color-light);
  background-color: var(--second-color-dark);
  position: relative;
}

.titles,
.project-index,
section.portfolio img {
  position: absolute;
  transform: translate(-50%, -50%);
}

.titles {
  right: calc(60% - 55px);
  top: 50%;
  margin-top: 40px;
  text-align: right;
}

.titles section {
  position: relative;
  height: auto;
  width: 225px;
  margin: 50px 0 0;
  overflow: auto;
  overflow-y: hidden;
}

.titles section:first-child {
  margin: 0;
}

section.portfolio h1 {
  overflow-y: hidden;
  width: 180px;
  float: left;
  margin: 0;
  font-size: 30px;
  line-height: 1.1;
  cursor: pointer;
}

section.portfolio h1.active {
  color: var(--third-color);
}

.project-index {
  width: 20px;
  top: 50%;
  right: 0;
  font-family: var(--font-poppins-light);
  font-size: 14px;
  text-align: left;
}

.line {
  position: relative;
  display: block;
  left: 110%;
  top: -35px;
  width: 5vw;
  height: 1px;
  background: #FFF;
}

.line.games {
  top: -18px;
}

section.portfolio .carousel {
  z-index: -1;
}

section.portfolio img {
  left: var(--project-left);
  top: 50%;
  width: auto;
  height: 300px;
  padding: 100px 0;
  margin-top: 40px;
  background-color: #FFF;
}

section.portfolio img:nth-child(1) {
  z-index: 10;
  cursor: pointer;
}

section.portfolio img:nth-child(2) {
  z-index: 9;
  left: calc(var(--project-left) + 90px);
  height: 250px;
  background-color: #D1D5D8;
}

section.portfolio img:nth-child(3) {
  z-index: 8;
  left: calc(var(--project-left) + 170px);
  height: 200px;
  background-color: #A4AAB1;
}

section.portfolio img:nth-child(4) {
  z-index: 7;
  left: calc(var(--project-left) + 240px);
  height: 150px;
  background-color: #76808A;
}