body {
  overflow: hidden;
  background-color: #fafafa;
}

.shape1 {
  z-index: -1;
  position: absolute;
  top: -80px;
  right: 0px;
  width: 75vw;
  height: 120vh;
  border-radius: 76% 71% 24% 100% / 54% 15% 10% 100%;
  background-attachment: fixed;
  background-image: linear-gradient(-20deg, #485563 40%, #29323c 80%);
}

.container {
  position: relative;
  padding-top: 35vh;
  text-align: center;
}

.title {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  animation-delay: 500ms;
}

.social {
  display: inline-flex;
  margin: 25px auto 45px auto;
  margin-left: auto;
  margin-right: auto;
  animation-delay: 750ms;
  filter: invert(100%);
}

.linkedin {
  background: url('/public/images/linkedin.svg');
  height: 35px;
  width: 35px;
  background-size: cover;
}

.skype {
  margin: 0 20px;
  background: url('/public/images/skype.svg');
  height: 35px;
  width: 35px;
  background-size: cover;
}

.github {
  background: url('/public/images/github.svg');
  height: 35px;
  width: 35px;
  background-size: cover;
}

.button:hover {
  transform: scale(1.5)!important;
}

.button {
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .10em;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  background-color: #3498db;
  animation-delay: 1s;
}

/* Animation */

@keyframes FadeInUp {
  from {
      transform: translate3d(0, 50px, 0);
  }

  to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  animation-name: FadeInUp;
}