.modal-loyalty.box:nth-child(2) {
  width: 50vw;
}

.bottom-left {
  position: absolute;
  bottom: var(--bottom-modal);
  left: var(--margin-side-desktop);
}

.loyalty-top-left {
  position: absolute;
  bottom: 40%;
  left: var(--margin-side-desktop);
}

.quote {
  position: absolute;
  width: var(--paragraph-width-desktop);
  bottom: 40%;
  right: var(--margin-side-desktop);
  font-size: 18px;
  white-space: pre-wrap;
  letter-spacing: 0.8px;
}

.quote img {
  position: absolute;
  left: -35px;
  top: 10px;
  height: 25px;
}

.source-quote {
  float: right;
  display: flex;
  margin-top: 10px;
}

.line-source {
  position: relative;
  top: 8px;
}

.source-quote a {
  margin-left: 15px;
  font-size: 11px;
  font-family: var(--font-poppins-medium);
  color: var(--white-color);
  letter-spacing: 0.4px;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .page-two {
    display: flex;
    flex-direction: column;
  }

  .bottom-left,
  .loyalty-top-left {
    position: relative;
    bottom: initial;
    left: initial;
  }

  .quote {
    position: relative;
    width: var(--paragraph-width-mobile);
    bottom: initial;
    right: initial;
    margin-top: var(--space-between-mobile-paragraph);
  }

  .main-info img {
    transform: translate(-50%, -50%) !important;
  }

  .quote img {
    width: auto !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 15px 0 0 !important;
  }
}