.home {
  .name {
    position: fixed;
    z-index: 10;
    left: var(--margin-side-desktop);
    top: var(--vertical-spacing-desktop);
    font-family: var(--font-poppins-medium);
    /* FIX: color should be set in useScroll component */
    color: var(--second-color-dark);
  }

  h1,
  .typewriter {
    position: absolute;
    top: 45%;
    font-size: 60px;
    animation-delay: 700ms;
    font-weight: bold;
  }

  h1 {
    right: 18px;
    color: var(--second-color-dark);
  }

  .typewriter {
    left: 18px;
    color: var(--first-color-light);
  }

  .arrows {
    width: 40px;
    position: absolute;
    left: var(--margin-side-desktop);
    bottom: var(--vertical-spacing-desktop);
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .arrows img:last-of-type {
    margin-top: -5px;
  }

  .icons {
    position: absolute;
    bottom: var(--vertical-spacing-desktop);
    right: var(--margin-side-desktop);
    display: flex;
    gap: 18px;
  }

  .linkedin-icon,
  .github-icon {
    height: 35px;
    width: 35px;
  }

  .linkedin-icon:hover,
  .github-icon:hover {
    transform: scale(1.15);
  }

  .linkedin-icon path,
  .github-icon path {
    fill: var(--first-color-light);
  }

  /* Animations */
  .linkedin-icon,
  .github-icon {
    animation-duration: 650ms;
  }

  .linkedin-icon {
    animation-delay: 1275ms;
  }

  .github-icon {
    animation-delay: 1350ms;
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    .gl-left-panel {
      position: relative;
      height: 58%;
      width: 100%;
    }

    .gl-right-panel {
      height: 42%;
      width: 100%;
    }

    .name {
      left: var(--margin-side-tablet);
      font-size: 15px;
    }

    h1 {
      top: unset;
      bottom: 5px;
    }

    .typewriter {
      top: 5px;
      bottom: unset;
    }

    h1,
    .typewriter {
      left: var(--margin-side-tablet);
    }
  }
}

@media only screen and (max-width: 767px) {
  .home {
    .name {
      top: var(--vertical-spacing-mobile);
      left: var(--margin-side-mobile);
    }

    h1,
    .typewriter {
      font-size: 48px;
      left: var(--margin-side-mobile);
    }
  }
}
