:root {
  --center-text-from-top: 45%;
}

section.home {
  height: 100vh;
  width: 100vw;
}

.left {
  height: 100vh;
  float: left;
  width: var(--width-left-column);
  background-color: var(--first-color-light);
}

section.home .left .name {
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 5%;
  margin-top: 36.5px;
  font-size: 14px;
  font-family: var(--font-poppins-medium);
  color: var(--second-color-dark);
  animation-delay: 0ms;
}

section.home .left h1 {
  left: calc(var(--width-left-column) - 150px);
  margin: 0;
  color: var(--second-color-dark);
}

section.home .left h1,
.typewriter {
  position: absolute;
  top: var(--center-text-from-top);
  font-size: 60px;
  animation-delay: 700ms;
  font-weight: bold;
}

section.home .left .group-arrows {
  position: absolute;
  height: 50px;
  left: 4%;
  bottom: 6%;
  padding: 5px 10px;
  cursor: pointer;
  animation-delay: 900ms;
}

.arrow-1,
.arrow-2,
.arrow-3 {
  padding: 7px;
  border: solid var(--third-color);
  border-width: 0 5px 5px 0;
  transform: rotate(45deg);
}

section.home .left .arrow-1 {
  margin-bottom: -5px;
  animation-delay: 2s;
}

section.home .left .arrow-2 {
  margin-bottom: -5px;
  animation-delay: 2.5s;
}

section.home .left .arrow-3 {
  animation-delay: 3s;
}

.right {
  height: 100vh;
  float: right;
  width: var(--width-right-colum);
  background-color: var(--second-color-dark);
}

.typewriter {
  left: calc(var(--width-left-column) + 15px);
  color: var(--first-color-light);
}

section.home .right .container {
  position: relative;
  padding-top: 35vh;
  text-align: center;
}

section.home .right .icons {
  position: absolute;
  display: inline-flex;
  bottom: 5%;
  right: 5%;
  margin: 0;
}

.linkedin {
  background: url('/public/images/linkedin.svg');
}

.github {
  margin: 0 15px;
  background: url('/public/images/github.svg');
}

.skype {
  background: url('/public/images/skype.svg');
}

.linkedin,
.skype,
.github {
  height: 30px;
  width: 30px;
  background-size: cover;
  filter: invert(100%);
  transition: all 0.5s cubic-bezier(0.27, 1.4, 0.57, 1.7);
}

.linkedin-animation,
.skype-animation,
.github-animation,
.btn-animation {
  animation-duration: 650ms;
}

.linkedin-animation {
  animation-delay: 1475ms;
}

.skype-animation {
  animation-delay: 1550ms;
}

.github-animation {
  animation-delay: 1625ms;
}

.btn-animation {
  margin: 0;
  animation-delay: 1400ms;
}

section.home .right .button {
  display: inline-block;
  padding: 6px 10px;
  margin-right: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 5px;
  color: var(--second-color-dark);
  background-color: var(--first-color-light);
  cursor: pointer;
  outline: none;
  transition: all 0.5s cubic-bezier(0.27, 1.4, 0.57, 1.7);
}

section.home .right .button:hover {
  transform: scale(1.075);
}

.linkedin:hover,
.skype:hover,
.github:hover {
  transform: scale(1.13);
}