section.contact {
  height: 100vh;
  width: 100vw;
}

section.contact .left {
  position: relative;
  height: 100vh;
  float: left;
  width: var(--width-left-column);
  background-color: var(--second-color-dark);
}

section.contact .left .group-arrows {
  position: absolute;
  height: 50px;
  left: 14%;
  bottom: 5%;
  padding: 5px 10px;
  cursor: pointer;
}

section.contact .left .arrow-1,
section.contact .left .arrow-2,
section.contact .left .arrow-3 {
  border-width: 5px 0 0 5px;
}

section.contact .left .arrow-1 {
  margin-bottom: -5px;
}

section.contact .left .arrow-2 {
  margin-bottom: -5px;
}

.rights-reserved,
.name {
  position: absolute;
  left: 28%;
  font-size: 13px;
  text-align: left;
  font-family: var(--font-poppins-light);
  color: var(--first-color-light);
}

.rights-reserved {
  bottom: 65px;
}

.name {
  bottom: 50px;
}

section.contact .right {
  position: relative;
  height: 100vh;
  float: right;
  width: var(--width-right-colum);
  background-color: var(--first-color-light);
}

section.contact .right section {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}

section.contact .right section h1 {
  margin-bottom: 0 0 30px 0;
  font-size: 40px;
  font-weight: bold;
  color: var(--second-color-dark);
}

.email {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
  color: var(--second-color-dark);
}

.country {
  font-family: var(--font-poppins-light);
  font-size: 13px;
  color: var(--second-color-dark);
}

section.contact .right section .icons {
  display: inline-flex;
  margin: 0;
  margin-top: 20px;
}

section.contact .right section .icons .linkedin,
section.contact .right section .icons .skype,
section.contact .right section .icons .github {
  height: 30px;
  width: 30px;
  filter: invert(0%);
  background-size: cover;
  transition: all 0.5s cubic-bezier(0.27, 1.4, 0.57, 1.7);
}

section.contact .right footer {
  position: absolute;
  width: 230px;
  bottom: 60px;
  right: 60px;
  font-family: var(--font-poppins-light);
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
  color: var(--second-color-dark);
}