.contact {
  height: 100vh;
  width: 100vw;
}

.left-contact {
  position: relative;
  height: 100vh;
  float: left;
  width: var(--width-left-column);
  background-color: var(--second-color-dark);
}

.arrow-4,
.arrow-5,
.arrow-6 {
  position: absolute;
  display: inline-block;
  left: 12%;
  padding: 7px;
  border: solid var(--third-color);
  border-width: 5px 0 0 5px;
  transform: rotate(45deg);
}

.arrow-4 {
  bottom: 70px;
}

.arrow-5 {
  bottom: 55px;
}

.arrow-6 {
  bottom: 40px;
}

.rights-reserved,
.name {
  position: absolute;
  left: 25%;
  font-size: 13px;
  text-align: left;
  font-family: var(--font-poppins-light);
  color: var(--first-color-light);
}

.rights-reserved {
  bottom: 65px;
}

.name {
  bottom: 50px;
}

.right-contact {
  position: relative;
  height: 100vh;
  float: right;
  width: var(--width-right-colum);
  background-color: var(--first-color-light);
}

.group-contact {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title-contact {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  color: var(--second-color-dark);
}

.email {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
  color: var(--second-color-dark);
}

.country {
  font-family: var(--font-poppins-light);
  font-size: 13px;
  color: var(--second-color-dark);
}

.group-icons {
  display: inline-flex;
  margin: 0;
  margin-top: 20px;
}

.linkedin-icon {
  background: url('/public/images/linkedin.svg');
}

.skype-icon {
  margin: 0 15px;
  background: url('/public/images/skype.svg');
}

.github-icon {
  background: url('/public/images/github.svg');
}

.linkedin-icon,
.skype-icon,
.github-icon {
  height: 30px;
  width: 30px;
  background-size: cover;
  transition: all 0.5s cubic-bezier(1, 1.27, 0, 1.8);
}

.end-sentence {
  position: absolute;
  width: 230px;
  bottom: 60px;
  right: 60px;
  font-family: var(--font-poppins-light);
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: underline;
  color: var(--second-color-dark);
}