/* TODO: Create CSS module */
.contact {
  .gl-left-panel {
    display: flex;
    align-items: flex-end;
    background-color: var(--second-color-dark);
  }

  .copyright {
    margin: 0 var(--margin-side-desktop) var(--vertical-spacing-desktop);
  }

  .gl-right-panel {
    background-color: var(--first-color-light);
  }

  article {
    position: relative;
    height: 100%;
    margin: 0 var(--margin-side-desktop);
  }

  .content {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  h1,
  .email,
  .country,
  footer {
    color: var(--second-color-dark);
  }

  .email {
    margin-top: 28px;
  }

  .country {
    margin-top: 2px;
  }

  .icons {
    margin-top: 12px;
    display: flex;
    gap: 18px;
  }

  .linkedin-icon,
  .github-icon {
    height: 35px;
    width: 35px;
  }

  .linkedin-icon path,
  .github-icon path {
    fill: var(--second-color-dark);
  }

  footer {
    position: absolute;
    bottom: var(--vertical-spacing-desktop);
    right: 0;
    font-family: var(--font-poppins-light);
    text-align: right;
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    .gl-left-panel {
      display: none;
    }

    .gl-right-panel {
      height: auto;
      width: 100%;
    }

    article {
      margin: var(--margin-side-tablet);
    }

    footer {
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    article {
      margin: 80px var(--margin-side-mobile) var(--margin-side-mobile);
    }
  }
}
