/* Animations */

.animation-setup {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Elements fading in and going up */
@keyframes fade-in-upwards {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-upwards-animation {
  opacity: 0;
  animation-name: fade-in-upwards;
}

/* Elements blinking */
@keyframes blink {
  from,
  49.9% {
    opacity: 1;
  }

  50%,
  to {
    opacity: 0;
  }
}

.blink-animation {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
}

/* Elements content loading from left to right */
@keyframes loading {
  to {
    background-size: 100% 100%;
  }
}

/* Elements moving from left to right */

@keyframes bounce-left-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.bounc-left-right-animation {
  animation-name: bounce-left-right;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* Element boucing up and down */

@keyframes bounce-top-bottom {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce-top-bottom-animation {
  animation-name: bounce-top-bottom;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* Elements appearing with stronger opacity */

@keyframes smooth-apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

.smooth-apparition-animation {
  animation-name: smooth-apparition;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

/* Elements appearing with stronger opacity and boucing at the same time */
.scrolling-animation {
  opacity: 0;
  animation-name: smooth-apparition, bounce-top-bottom;
  animation-duration: 0.5s, 0.8s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: forwards, none;
}
