/* Global CSS */
section.home,
section.portfolio,
section.about-me,
section.contact {
  margin: 0;
}

/* Fade in animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

/* Blink animation */

@keyframes blinker {
  from,
  49.9% {
    opacity: 1;
  }

  50%,
  to {
    opacity: 0;
  }
}

.blink {
  animation-name: blinker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
}

/* Loading lines from left to right animation */

@keyframes loading {
  to {
    background-size: 100% 100%;
  }
}

/* Arrow moving from left to right */

@keyframes arrowMoving {
  10% {
    right: calc(var(--margin-side-desktop) + 20px);
  }

  30% {
    right: var(--margin-side-desktop);
  }

  100% {
    right: calc(var(--margin-side-desktop) + 20px);
  }
}