/* Global CSS */
section.home,
section.portfolio,
section.about-me,
section.contact {
  margin: 0;
}

/* Fade in animation */

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpTranslation50Y {
  from {
    transform: translateY(calc(-50% + 50px));
  }

  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes fadeInUpTranslation50X50Y {
  from {
    transform: translate(-15%, 50px);
  }

  to {
    opacity: 1;
    transform: translate(-15%, 0);
  }
}

.fadeInUp {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

/* Blink animation */

@keyframes blinker {
  from,
  49.9% {
    opacity: 1;
  }

  50%,
  to {
    opacity: 0;
  }
}

.blink {
  animation-name: blinker;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
}

/* Loading lines from left to right animation */

@keyframes loading {
  to {
    background-size: 100% 100%;
  }
}

/* Arrow moving from left to right */

@keyframes bounceLeftRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.bouncing-animation {
  animation-name: bounceLeftRight;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* Scrolling arrows boucing */

@keyframes bounceTopBottom {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.smooth-apparition {
  animation-name: smoothApparitionOpacity07;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

.scrolling-animation {
  opacity: 0;
  animation-name: smoothApparitionOpacity07, bounceTopBottom;
  animation-duration: 0.5s, 0.8s;
  animation-iteration-count: 1, infinite;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: forwards, none;
}

@keyframes smoothApparitionOpacity07 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

@keyframes smoothApparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}