:root {
  --main-color-dark: #485563;
  --main-light-color: #F7FaFF;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/Poppins-Medium.otf') format('opentype');
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}