:root {
  --first-color-light: #F7FAFF;
  --second-color-dark: #485563;
  --third-color: #25CCF7;
  --white-color: #FFF;
  --width-left-column: 30%;
  --width-right-colum: 70%;
  --font-poppins-light: 'Poppins Light', sans-serif;
  --font-poppins-medium: 'Poppins Medium', sans-serif;
  --font-poppins-bold: 'Poppins Bold', sans-serif;
  --font-poppins-extra-bold: 'Poppins Extra Bold', sans-serif;
  --line-width: 40px;
  --margin-side-desktop: 6%;
  --margin-side-tablet: 50px;
  --margin-side-mobile: 20px;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../public/assets/Poppins-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../public/assets/Poppins-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../public/assets/Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins Extra Bold';
  src: url('../public/assets/Poppins-ExtraBold.ttf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins Medium', sans-serif;
}

div[class^='line'] {
  width: var(--line-width);
  height: 1px;
  background: var(--white-color);
}